<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="time flex-center">
        <h2><%=TypeOfday%></h2>
    </div>
    <div class="list">
        <h1>My To Do List</h1>
            <ol>
                <% for(let x = 0; x < newItem.length; x++){ %>
                <% if(newItem[x] != '') { %>
                <li><%=newItem[x]%></li>
                <% } %>
                <% } %>    
            </ol>   
    </div>
    <form action="/" method="post">
        <input name="newItem" type="text">
        <button>Add</button>
    </form>

    <footer>&#169;KHTSU</footer>
</body>
</html>