@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f0dcad;
    padding: 1rem;
    font-family: Poppins;
}

.list ol li{
    margin: 0 1.5rem;
}

form{
    margin: 1rem 0;
}

form input{
    width: 200px;
    padding: 3px;
    border: .5px solid black;
}

form button{
    width: 100px;
    padding: 3px;
    background: #937B63;
    transition: .5s;
    border: .5px solid black;
}

form button:hover{
    cursor: pointer;
    background: #8B635C;
}

footer{
    position: absolute;
    padding: .5rem 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}